# Puerto del servidor de desarrollo de Vite (usado por Electron en modo desarrollo)
VITE_DEV_SERVER_URL=http://localhost:5173

# Puedes añadir otras variables de entorno específicas del proyecto aquí, 
# asegurándote de que comiencen con el prefijo VITE_ para que estén disponibles
# en el cliente a través de import.meta.env
